<connectionStrings>
  <add name="DefaultConnection" connectionString="Data Source=SERVIDOR,1433;Initial Catalog=NOMBRE_BD;Persist Security Info=False;User ID=USUARIO;Password=CONTRASEÑA;Encrypt=true;TrustServerCertificate=true" providerName="System.Data.SqlClient"/>
</connectionStrings>
