@{
    ViewBag.Title = "Home Page";
}

<div class="container-fluid position-relative" style="min-height: 70vh;">
    <div class="watermark">Bufins</div>
</div>

<style>
    .watermark {
        position: absolute;
        top: 50%; /* Más abajo que 50% */
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 104px; /* Tamaño más moderado */
        color: black;
        opacity: 0.15;
        z-index: 1;
        pointer-events: none;
        user-select: none;
        white-space: nowrap;
        font-weight: 600;
        font-family: 'Nunito', sans-serif; /* O la que prefieras */
    }
</style>
